<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>Bookmarks</title>
<link rel="icon" href="/icon.png" />
<style>
  @import "/raw.css"; 
  body { min-height: fit-content;width: 800px;margin: 40px auto;padding: 20px;background: #f8faff;font: 400 20px/1.4 Helvetica Neue; }
  input { width: 100%;border: none;box-shadow: var(--box-shadow); }
  input:focus { box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06); }
  .count { margin: 10px 10px 20px;text-align: right;font-size: 14px;color: #444; }
  .card { display: block;margin: 8px 0;padding: 12px;color: var(--text);background: white;border-radius: var(--border-radius);box-shadow: var(--box-shadow);text-decoration: none!important; }
  .card .title { font-size: 16px; }
  .card .url { font-size: 12px;color: var(--primary);white-space: pre;overflow: hidden; }
  .card:hover { background: rgb(255, 221, 68, .2); }
  .card.active { background: rgb(255, 221, 68, .5); }
</style>
<main>
  <input v-focus v-model="search" @keydown.down="index++" @keydown.up="index--" @keydown.enter="window.location.href = focus.url">
  <div class="count">{{ results.length }}/{{ history.length }}</div>
  <a class="card" :class="{ active: i === index }" :href="result.url" v-for="result, i in results.slice(0, 10)">
    <div class="title">{{ result.title }}</div>
    <div class="url">{{ result.url }}</div>
    <!-- <div class="info">{{ result.visitCount }} / {{ result.lastVisitTime }}</div> -->
  </a>
</main>
<script type="module" src="/index.js"></script>
