<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>Bookmarks</title>
<link rel="icon" href="/icon.png" />
<style>body { background: #333 center/cover url(/photo.jpg); }</style>
<style>
  @import "/raw.css";
  body { width: 800px;height: 100vh;margin: auto;padding: 40px;font: 400 20px/1.4 Helvetica Neue; }
  input { width: 100%;border: none;box-shadow: 0 0 10px 4px #fd4!important; }
  .count { margin: 10px 20px 20px;text-align: right;font-size: 16px;font-weight: 800; }
  .cards { height: calc(100vh - 140px);overflow: auto; }
  .card { display: block;margin: 8px 0;padding: 12px;color: var(--text);background: white;border-radius: var(--border-radius);box-shadow: var(--box-shadow);text-decoration: none!important; }
  .card .title { font-size: 16px; }
  .card .url { font-size: 12px;color: var(--primary);white-space: pre;overflow: hidden; }
  .card:hover, .card.active { background: #fd4; }
</style>
<main>
  <input placeholder="Search" v-focus v-model="search">
  <div class="count">{{ results.length }}/{{ history.length }}</div>
  <div class="cards">
    <a class="card" :class="{ active: i === index }" :href="result.url" v-for="result, i in results.slice(0, 50)">
      <div class="title">{{ result.title }}</div>
      <div class="url">{{ result.url }}</div>
      <!-- <div class="info">{{ result.visitCount }} / {{ result.lastVisitTime }}</div> -->
    </a>
  </div>
</main>
<script type="module" src="/index.js"></script>
